<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222835281688-7lajars3r8j0vfog53sba0pkj6272v4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222835281688-7lajars3r8j0vfog53sba0pkj6272v4t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>222835281688-kvmbtu229pknmjtcp7i23tg8npeco8gs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEb25EGKcHOQ2PWNMuVVWSo8fKpnycNPM</string>
	<key>GCM_SENDER_ID</key>
	<string>222835281688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.espechat.espeChat</string>
	<key>PROJECT_ID</key>
	<string>bduniversidad-5d746</string>
	<key>STORAGE_BUCKET</key>
	<string>bduniversidad-5d746.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222835281688:ios:206826783e9e59c017186d</string>
	<key>DATABASE_URL</key>
	<string>https://bduniversidad-5d746-default-rtdb.firebaseio.com</string>
</dict>
</plist>